h1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

.login {
    background-color: #fffa67;
    padding: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #ffcd60;
    color: rgb(48, 48, 48);
}

.alert {
    display: none;
}

.register {
    display: none;
    background-color: #a2eae2;
    padding: 2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #41aaa8;
}

.home {
    display: none;
    background-color: green;
    color: white;
}